@font-face {
    font-family: 'Dosis';
    src: url('https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@400;500;600&family=Inter:wght@400;700&family=Mulish:wght@400;500;600;700;900&family=Open+Sans&family=Raleway:wght@400;500;600;700;900&display=swap') format('woff2');
    font-weight: normal;
    font-style: normal;
  }